body{
    margin:0;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    color:white;
}

/* UI WINDOWS */
#menu,#charMenu,#gameOver{
    position:absolute;
    background:rgba(0,0,0,.7);
    padding:25px;
    border-radius:15px;
    text-align:center;
    z-index:5;
}

#charMenu,#gameOver{ display:none; }

button{
    padding:10px 25px;
    margin:10px;
    font-size:20px;
    cursor:pointer;
    background:#ffdb4d;
    border:none;
    border-radius:10px;
    font-weight:bold;
}

#skins img{
    width:80px;height:80px;
    margin:10px;
    cursor:pointer;
    border-radius:10px;
    transition:.2s;
}
#skins img:hover{transform:scale(1.15);border:2px solid #fff;}

#wrapper{
    display:none;
    border:10px dashed gold;
    border-radius:15px;
    position:relative;
}

#score{
    position:absolute;
    top:10px;
    right:10px;
    font-size:30px;
    font-weight:bold;
}
